*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: white;
    text-align: center;
}

.wrapper{
    margin: 0 50px;
    display: inline-block;
    text-align: left;
}

.header{
    width : 960px;
}


.logo{
    color: teal;
    padding: 20px 0;
    font-size: 32px;
    font-weight: lighter;
    display: inline-block;
}

.nav{
    display: inline-block;
    float: right;
    margin-top: 15px;
    padding: 20px 0;
}

.nav li{
    list-style: none;
    display: inline-block;
    color: teal;
    margin-left: 20px;
    font-size: medium;
    font-weight: bold;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
}

.form{
    width: 460px;
}

.form-header{
    background-color: #BBC0CA;
    color: whitesmoke;
    padding: 20px;
    border: 5px #BBC0CA solid;
    border-radius: 15px 15px 0 0;
}

.form label{
    color: #797979;
}

#title, #desc{
    width: 97%;
    border: 2px solid #BBC0CA;
    border-radius: 5px;
    padding: 5px;
}

#version{
    border: 2px solid #BBC0CA;
    border-radius: 5px;
    padding: 5px;
}

.form-content select{
    width: 100%;
    border: 2px #00C697 solid;
    border-radius: 5px;
    background-color: #00C697;
    color: white;
    padding: 5px;
    font-weight: bolder;
}

.form-content{
    border: #BBC0CA 2px solid;
    padding: 10px 20px;
}

.form-content div{
    padding: 5px 0;
}



.radio div{
    width: 45%;
    display: inline-block;
    color: #797979;
}


.upload-btn{
    border: #BBC0CA 2px solid;
    border-radius: 5px;
    position: relative;
    width: 100%;
    padding: 5px;
    color: white;
    display: inline-block;
    background-color: white;
}

.upload-btn div{
    border: #BBC0CA 3px solid;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    position: absolute;
    display: inline-block;
    background-color: #BBC0CA;
    top :0;
    right: 0;
}

#attachments{
    visibility: hidden;
}

.form-footer{
    background-color: #ECEEF1;
    color: whitesmoke;
    padding: 20px;
    border: 2px #BBC0CA solid;
    border-top: 0;
    border-radius: 0 0 15px 15px;
}

.form-footer input{
    background-color: #00C697;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    border: #00C697 2px solid;
    border-radius: 5px;
    padding: 5px;
}

.form-footer div{
    display: flex;
    justify-content: flex-end;
}



