*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: black;
    text-align: center;
}

.wrapper{
    padding: 0 50px;
    display: inline-block;
    text-align: left;
}

.header-wrapper{
    padding: 0 50px 20px 50px;
    background-color: #393939;
}

.logo{
    color: whitesmoke;
    padding: 20px 0;
    font-size: 32px;
    font-weight: bold;
}

.nav {
    background-color: #292929;
}

.nav li{
    display: inline-block;
    padding: 20px;
    font-size: small;
    color: whitesmoke;
}

.nav a{
    color: white;
    text-decoration: none;
}

.section-wrapper{
    background-color: whitesmoke;
    padding: 20px 50px 0 50px;
}

.section-wrapper h3{
    color: darkgray;
    margin: 20px 0 10px 0;
}

#bigbox{
    background-color: #393939ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 24px;
    padding: 0;
    margin-bottom: 20px;
    width: 960px;
    height: 360px;
}

.txt-box{
    background-color: lightgray;
    padding: 20px;
    color: gray;
}

.img-grp{
    display: flex;
    justify-content: space-between;
}

.img{
    display: inline-block;
    text-align: center;
    width: 215px;
}

.img div:first-child{
    height: 315px;
    margin-top: 20px;
    background-color: #292929;
    color: whitesmoke;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img div:nth-child(2){
    margin-bottom: 20px;
    padding: 5px;
    background-color: lightgray;
    color: #292929;
}

#ftr{
    background-color: #292929;
    padding: 50px;
}

#ftr-author{
    float: right;
    background-color: #292929;
    color: white;

}

#ftr-cpy{
    float: left;
    background-color: #292929;
    color: white;
}

.header-wrapper, .section-wrapper, #ftr{
    width: 960px;
}